
<!doctype html>
<html>
  <head>
    <title>Tools.CO webshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/cart.css">
  </head>
  <body>
    <%- include('partials/header') %> 
     <div class="kosarica">
        <div class="lista" id="lista">
          <div class="naziviStupca">
            <div class="lijevo">Naziv Proizvoda</div>
            <div class="desno">Količina</div>
          </div>
          <% if (cart) { %>
           
          
          <%for (var i=0;i<cart.length;i++){%>
              <div class="red" id="<%=cart[i].code%>">
                <div class="lijevo"><%=data.categories[cart[i].code.split(" ")[0]].products[cart[i].code.split(" ")[1]].name%></div>
                <div class="desno">
                  <a href="/cart/remove/<%=cart[i].code%>" class="minus"><img src="/images/minus.png" id="-<%=cart[i].code%>"></a>
                  <div class="broj" id="#<%=cart[i].code%>"><%=cart[i].quantity%></div>
                  <a href="/cart/add/<%=cart[i].code%>" class="plus"><img src="/images/plus.png" id="+<%=cart[i].code%>"></a>
                </div>
              </div>
            <% } %>
            <% } %>
        </div>
     </div>

</html>