
<!doctype html>
<html>
  <head 
  >
    <title>Tools.CO webshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
  </head>
  <body>
    <%- include('partials/header') %> 

     <div class="Content">

     <div class="lijevo">
      <div class="kategorije" id="bob">
         <% for(var i = 0; i < data.categories.length-1 ;i++){ %>
          <%var ll='/getProducts/'+i%>
          <a id = <%=i%> href=<%=ll%> >
                <div>
                   <%= data.categories[i].name%>
               </div>   
              </a>
                   <% } %>
      </div>
      <div class="PR-stuff">
        <div> <a class="link">Kontakt</a></div>
        <div> <a class="link">Newsletter</a></div>
        <div> <a class="link">Pretplati se</a></div>

      </div>

     </div>

     <div class="desno-gore"><img src="/images/nicePhoto.jpg" height="310px" width="100%"><label class="top-left">Dobrodošli!</label></div>
     <div class="desno-dolje" id="bob2">
       <% for(var j=0;j<products.length;j++){%>
          
            <% var tempy=(chosenCat+" "+j);var lll=("/getProducts/"+chosenCat+"/add/"+j) %>
            <a href=<%=lll%> class="productSpace" id="<%-tempy%>">
                <div>
                    <img id=<%=chosenCat%> src="/images/<%=products[j].image%>">
                    <%var chocho="";if(cart){for(var i =0;i<cart.length;i++){if(cart[i].code==tempy){chocho=cart[i].quantity;break;}}}  %>
                    <div class="productNum"><%=chocho%></div>
                    <img class="hiddenCart" id="c" src="/images/orangecart.png">
                </div>
                <div id="t"><%=products[j].name%></div>
            </a>
            <% } %>
     </div>




     </div>
    
</html>